body{
    background-color: rgb(107, 96, 252);
}
ul{
      list-style-type: none;
                margin: 0px;
                padding: 0px;
                overflow: hidden;

                background-image: linear-gradient(to right,red,green,black);
                text-align:justify;
                 display: flex;
                 justify-content: center;    
      

  

}
li{
    float: left;
    
    
}
input{
    float: right;
    padding: 10;
    margin: 20;
    border-radius: 20px;
}

li a {
    color: black;
   display: block;
   text-decoration: none;  
   padding: 20;
   margin: 10;
   

}
li a:hover{
    color: blue;
    background-color: antiquewhite;
    padding: 10px;

}
h2{
    background-color: red;
    color: aliceblue;
}
div.a1{
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
    background-image: url(music.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-items: center;
    background-size: 2000px;
    h1{ 
        text-align: center;
        color: rgb(248, 252, 252);

     }
     p{
        font-size: 20;
        padding: 10;
        color: aqua;
        text-align: center;
     }
     a{
        text-align: center;
        border-radius: 10;
        background-color: red;
        background-size: 40px;
        border: 10px;
        font-size: 20px;
        color: aliceblue;

        text-decoration: none;

     }
    }
    
    div.icon{
        float: left;
        

    }
div.icon img{
    border-radius:1000px;
    padding: 65px;
    padding-bottom: 5;

    
}
div.desc{
    text-align: center;
    h1{
        color: aliceblue;
    }


}
